<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IDCardIssuer" value="TRIFORK SERVICES A/S" />
    <add key="SosiCareProviderName" value="TRIFORK SERVICES A/S" />
    <add key="SosiCareProviderCvr" value="25520041" />
    <add key="ITSystemName" value="krsclient.net" />
    <add key="STSUrl" value="http://test1-cnsp.ekstern-test.nspop.dk:8080/sts/services/SecurityTokenService" />
    <add key="CERTPath" value=".\Resources/FMK-KRS-TEST.p12" />
    <add key="CERTPass" value="Test1234" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DemoDatabaseConnectionString" connectionString="Data Source=.\Data\DemoDatabase.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StamdataReplicationSoap11Binding" maxReceivedMessageSize="5242880" receiveTimeout="00:01:30">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sealbehavior">
          <sealBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="sealBehavior" type="dk.nsi.seal.SealBehaviorExtentionElement, Seal" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://test2-cnsp.ekstern-test.nspop.dk:8080/stamdata-batch-copy-ws/service/StamdataReplication" behaviorConfiguration="sealbehavior" binding="basicHttpBinding" bindingConfiguration="StamdataReplicationSoap11Binding" contract="dk.nsi.batchcopy.StamdataReplication" name="StamdataReplication" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>