<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
          <customBinding>
            <binding name="StamdataReplicationSoap11Binding">
              <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8"/>
              <httpTransport/>
            </binding>
          </customBinding>
        </bindings>
        <behaviors>
          <endpointBehaviors>
            <behavior name="sealbehavior">
              <sbhe />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <extensions>
          <behaviorExtensions>
            <add name="sbhe" type="dk.nsi.seal.SealBehaviorExtentionElement, Seal"/>
          </behaviorExtensions>
        </extensions>
        <client>
            <endpoint
              address="http://test2-cnsp.ekstern-test.nspop.dk:8080/stamdata-batch-copy-ws/service/StamdataReplication"
              binding="customBinding"
              bindingConfiguration="StamdataReplicationSoap11Binding"
              behaviorConfiguration="sealbehavior"
              contract="StamdataReplication"
              name="StamdataReplication"/>
        </client>
    </system.serviceModel>
</configuration>
